{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'index.css' %}" >
    <title>{% block name %} QRApp {% endblock %}</title>
</head>
<body>
 
    <header>
        <div class="head">
            <p>Hola {{ user.username | upper }}</p>
            <a class="a_head" href="{% url 'home' %}">Home</a>
            <a class="a_head" href="{% url 'generarqr' %}">Generar QR</a>
            <a class="a_head" href="{% url 'QrNuevo' %}">Agregar QR</a>
            <a class="a_head" href="{% url 'logout' %}">Cerrar Sesion</a>
        </div>
    </header>
    {% block content %}
    <div class="container">
        <div class="titulo">
            <h1>Ignacio Guidali</h1>
        </div>
        
        <!-- <div class="titulos">
            <h2>Linkedin</h2>
            <h2>Curriculum Vitae</h2>
            <h2>Instagram</h2>
        </div> -->
        
        
    
        <div class="qrlink">
            
            {% for link in links %}
            <div class="card_qr">
                <img src="{{link.qr.url}}" alt="">
                <p>{{link.titulo}}</p>
                <a href="{{ link.link }}">Link directo</a>

            </div>
            
            {% endfor %}
            
            
        </div>
        <!-- <div class="links">
            <a href="https://www.linkedin.com/in/guidaliignacio/">Link directo Linkedin</a>
            <a href="http://127.0.0.1:8000/cv">Curriculum Vitae HTML</a>
            <a href="https://www.instagram.com/nachoguidali/">Link directo Instagram</a>
        
        </div> -->
            
    </div> 
    {% endblock %}
    <footer>
        <div class="footer">
           <p class="p-footer"> Made By Nacho Guidali </p>
        </div>
    </footer>   
</body>
</html>