{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'index.css' %}" >
    <title>QRApp</title>
</head>
<body>
 
    <header>
        <div class="head">
            <p>{{ user.username | upper }}</p>
            <a class="a_logout" href="{% url 'logout' %}">Cerrar Sesion</a>
        </div>
    </header>
   
    <div class="container">
        <div class="titulo">
            <h1>Ignacio Guidali</h1>
        </div>
        
        <div class="titulos">
            <h2>Linkedin</h2>
            <h2>Curriculum Vitae</h2>
            <h2>Instagram</h2>
        </div>
        
        
    
        <div class="qrlink">
            
            {% for link in links %}
            <img src="{{link.qr.url}}" alt="">
            {% endfor %}
            
            
        </div>
        <div class="links">
            <a href="https://www.linkedin.com/in/guidaliignacio/">Link directo Linkedin</a>
            <a href="http://127.0.0.1:8000/cv">Curriculum Vitae HTML</a>
            <a href="https://www.instagram.com/nachoguidali/">Link directo Instagram</a>
        
        </div>
            
    </div> 
    <footer>
        <div class="footer">
           <p class="p-footer"> Made By Nacho Guidali </p>
        </div>
    </footer>   
</body>
</html>