{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block name %}Ingresar{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    {% if error_message %}
    <div class="alert_cartel">
        <div class="alert">
        {{ error_message }}
        </div>
    </div>    
    {% endif %}
    
    
    <form action="" method="post">
        <div class="titulo">
            <h3>Inicie Sesion o Registrese para continuar</h3>
    
        </div>
        {% csrf_token %}
        <div class="row">
            <div class="column">
                <div class="form">
                    <label for="username">Nombre de usuario:</label>
                    <input class="form-control" type="text" name="username">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="form">
                    <label for="username">Contraseña:</label>
                    <input class="form-control" type="password" name="password">
                </div>
            </div>
        </div>
        
        {% block botones %}
        <div class="row">
            <div class="column">
                <div class="form">
                    <a href="#">Olvide mi contraseña</a>
                    <div class="botones">
                        <button class="" type="submit" value="ingresar">Ingresar</button>
                        <a href="http://127.0.0.1:8000/register" class="button">Registrarse</a>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </form>
    
    <footer>
        <div class="footer">
           <p class="p-footer"> Made By Nacho Guidali </p>
        </div>
    </footer>
</body>
</html>