html{
    background-color: rgba(157, 250, 219, 0.76);
}
.qrlink{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    
    
    }
h1 {
    text-decoration: underline;
    font-size: 48px;
}    
a:hover {
    font-size: 24px;
    box-shadow: 10px 10px 10px 0px rgb(38, 69, 248);
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    
    
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
img{
    width: 370px;
    height: 370px;
}
.titulos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h2{
    text-decoration: solid;
}
.titulo{
    display: flex;
    justify-content: center;
}
footer{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    color: white;
    width: 100%;
    height: 40px;
    left: 0;
    background-color: #444444;
    bottom: 0px;
    
    
    
    }
.footer{
    margin-right: 10px;
    
    }
header{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    position: absolute;
    top: 0px;
        
        
    }
.head{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 30px;
    
    
    background-color: #969696;
    color: white;
    }    
.a_logout{
    margin-left: 20px;
    text-decoration: none;
    
    }
.a_logout:hover{
    box-shadow: none;
    font-size: 20px ;
    }